@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}


.animate-float {
    animation: float 3s ease-in-out infinite;
}


@keyframes skills-in {
    0% {
        transform: translateX(200px);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animate-skills-in {
    animation: skills-in 3s ease-in-out;
}