@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-heading {
        @apply text-xl md:text-4xl text-center text-[#051C2C] underline font-bold;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
